@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
}  

.header-contents {
    background: url(../images/street-night.jpg) center / cover no-repeat;
    width: 18%;
}

.header-contents-after {
    content: '';
    background-color: #0000006e;
    top: 0;
    left: 0;
}

.header-contents .container {
    height: 150vh;
    padding: 30px;
}

.header-contents-logo {
    font-size: 1.6em;
    padding-bottom: 40px;
    color: #fff;
}

.header-contents-link {
    text-decoration: none;
    color: #fff;
    letter-spacing: 1.5px;
    padding: 8px 20px;
    margin: 10px 0;
    border-radius: 10px;
    transition: 0.2s;
}

.header-contents-link:hover {
    background: #2424ec83;
}

.link-now {
    background: #2424ec83;
}

.main-contents {
    width: 82%;
}

.main-contents a {
    text-decoration: none;
    transition: 0.2s;
}

.main-contents a:hover {
    background: #fbfbfb;
    box-shadow: 0 0 10px #fff;
}

.main-contents .container {
    background: #cbcaca;
    height: 150vh;
    padding: 20px 50px;
    box-shadow: inset 7px 0 10px rgba(0, 0, 0, 0.534);
}

.main-contents-title {
    color: #fff;
    text-shadow: 0 0 10px #000;
    font-weight: 400;
    padding: 10px;
    margin-bottom: 35px;
    width: 200px;
}

.primary-cards {
    padding: 20px;
    margin: 0 10px;
    background: #f6f2f2;
    width: 30%;
    border-radius: 5px;
    box-shadow: 0 0 10px #0000004a;
}

.primary-cards-img {
    width: 30%;
    margin-right: 30px;
}

.primary-cards-text {
    color: #949393;
    font-size: 1em;
    letter-spacing: 1.7px;
    font-weight: bold;
}

.secondy-cards {
    padding: 30px;
    margin: 40px 10px;
    background: #f6f2f2;
    width: 50%;
    border-radius: 5px;
    box-shadow: 0 0 10px #0000004a;
}

.secondy-cards-img {
    width: 60%;
    margin: auto;
}

.secondy-cards-img-2 {
    width: 90%;
    margin: auto;
}

.secondy-cards-title {
    color: #949393;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 15px 0;
}

.secondy-cards-text {
    color: #949393;
    letter-spacing: 1.5px;
}

.tertiary-cards {
    background: #f6f2f2;
    padding: 20px;
    margin: 0 10px;
    width: 50%;
    border-radius: 5px;
    box-shadow: 0 0 10px #0000004a;
}

.tertiary-cards-img {
    width: 100%;
    margin: 0 auto 20px auto;
}

.tertiary-cards-title {
    color: #949393;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 15px 0;
}

.tertiary-cards-text {
    color: #949393;
    letter-spacing: 1.5px;
}

.footer-contents {
    color: #fff;
    background: #353232;
    padding: 15px 30px;
}

.footer-contents-logo, .footer-contents-text {
    font-size: 0.8em;
    font-weight: 400;
}